In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
baseurl= 'https://chaldal.com/'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:82.0) Gecko/20100101 Firefox/82.0'
}

Fresh Vegetables

In [4]:
r = requests.get('https://chaldal.com/fresh-vegetable')
soup = BeautifulSoup(r.content, 'lxml')

In [5]:
productlist = soup.find_all('div', class_='product')

productname = []
quantity = []
price = []

In [6]:
# PRODUCT NAME

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'name'):
            productname.append(j.text)

In [7]:
# AMOUNT

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'subText'):
            quantity.append(j.text)

In [8]:
# PRICE

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'price'):
            price.append(j.text)

In [9]:
productlist = {'Product Name': productname,'Quantity': quantity, 'Price': price}

In [10]:
df = pd.DataFrame(productlist)
df.head()

                          Product Name Quantity Price
0                 Onion Red (Imported)     1 kg  ৳ 89
1                 Onion (TCB Imported)     1 kg  ৳ 36
2  Potato Regular (Net Weight ± 50 gm)     1 kg  ৳ 49
3              Onion Yellow (Imported)     1 kg  ৳ 69
4                        Onion (Local)     1 kg  ৳ 89

In [11]:
df.to_csv(r'C:\Users\Admin\Documents\GITHUB ALL ML PUSH PULL\Scraping\chaldal-vegetable.csv', index=False)

Fresh Fruits

In [12]:
r_2 = requests.get('https://chaldal.com/fresh-fruit')
soup = BeautifulSoup(r_2.content, 'lxml')

In [13]:
productlist = soup.find_all('div', class_='product')

productname = []
quantity = []
price = []

In [14]:
# PRODUCT NAME

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'name'):
            productname.append(j.text)

In [15]:
# AMOUNT

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'subText'):
            quantity.append(j.text)

In [16]:
# PRICE

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'price'):
            price.append(j.text)

In [17]:
productlist = {'Product Name': productname,'Quantity': quantity, 'Price': price}

In [18]:
df = pd.DataFrame(productlist)
df.head()

                      Product Name Quantity  Price
0       Malta (Net Weight ± 50 gm)     2 kg  ৳ 400
1                    Banana Chompa   12 pcs   ৳ 59
2       Malta (Net Weight ± 50 gm)     1 kg  ৳ 200
3  Guava Thai (Net Weight ± 50 gm)     1 kg   ৳ 79
4                        Pineapple     each   ৳ 59

In [19]:
df.to_csv(r'C:\Users\Admin\Documents\GITHUB ALL ML PUSH PULL\Scraping\chaldal-fruits.csv', index=False)