In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
baseurl= 'https://chaldal.com/'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:82.0) Gecko/20100101 Firefox/82.0'
}

# Fresh Vegetables

In [3]:
r = requests.get('https://chaldal.com/fresh-vegetable')
soup = BeautifulSoup(r.content, 'lxml')

In [4]:
productlist = soup.find_all('div', class_='product')

productname = []
quantity = []
price = []

In [5]:
# PRODUCT NAME

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'name'):
            productname.append(j.text)

In [6]:
# AMOUNT

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'subText'):
            quantity.append(j.text)

In [7]:
# PRICE

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'price'):
            price.append(j.text)

In [8]:
productlist = {'Product Name': productname,'Quantity': quantity, 'Price': price}

In [9]:
df = pd.DataFrame(productlist)
df.head()

                          Product Name Quantity Price
0                 Onion Red (Imported)     1 kg  ৳ 89
1                 Onion (TCB Imported)     1 kg  ৳ 36
2  Potato Regular (Net Weight ± 50 gm)     1 kg  ৳ 49
3              Onion Yellow (Imported)     1 kg  ৳ 69
4                        Onion (Local)     1 kg  ৳ 89

In [10]:
df.to_csv(r'C:\Users\Admin\Documents\GITHUB ALL ML PUSH PULL\Scraping\chaldal-vegetable.csv', index=False)

# Fresh Fruits

In [11]:
r_2 = requests.get('https://chaldal.com/fresh-fruit')
soup = BeautifulSoup(r_2.content, 'lxml')

In [12]:
productlist = soup.find_all('div', class_='product')

productname = []
quantity = []
price = []

In [13]:
# PRODUCT NAME

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'name'):
            productname.append(j.text)

In [14]:
# AMOUNT

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'subText'):
            quantity.append(j.text)

In [15]:
# PRICE

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'price'):
            price.append(j.text)

In [16]:
productlist = {'Product Name': productname,'Quantity': quantity, 'Price': price}

In [17]:
df = pd.DataFrame(productlist)
df.head()

                      Product Name Quantity  Price
0       Malta (Net Weight ± 50 gm)     2 kg  ৳ 400
1                    Banana Chompa   12 pcs   ৳ 59
2       Malta (Net Weight ± 50 gm)     1 kg  ৳ 200
3  Guava Thai (Net Weight ± 50 gm)     1 kg   ৳ 79
4                        Pineapple     each   ৳ 59

In [18]:
df.to_csv(r'C:\Users\Admin\Documents\GITHUB ALL ML PUSH PULL\Scraping\chaldal-fruits.csv', index=False)

# Meat

In [19]:
r_3 = requests.get('https://chaldal.com/meat')
soup = BeautifulSoup(r_3.content, 'lxml')

In [20]:
productlist = soup.find_all('div', class_='product')

productname = []
quantity = []
price = []

In [21]:
# PRODUCT NAME

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'name'):
            productname.append(j.text)

In [22]:
# AMOUNT

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'subText'):
            quantity.append(j.text)

In [23]:
# PRICE

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'price'):
            price.append(j.text)

In [24]:
productlist = {'Product Name': productname,'Quantity': quantity, 'Price': price}

In [25]:
df = pd.DataFrame(productlist)
df.head()

                                    Product Name Quantity  Price
0  Broiler Chicken Skin Off (Net Weight ± 50 gm)     1 kg  ৳ 219
1    Cock Chicken Skin Off (Net Weight  ± 30 gm)   500 gm  ৳ 229
2  Bengal Meat Beef Bone In (Net Weight ± 50 gm)     1 kg  ৳ 635
3   Chicken Boneless Breast (Net Weight ± 50 gm)     1 kg  ৳ 349
4   Broiler Chicken Skin On (Net Weight ± 50 gm)     1 kg  ৳ 209

In [26]:
df.to_csv(r'C:\Users\Admin\Documents\GITHUB ALL ML PUSH PULL\Scraping\chaldal-meat.csv', index=False)

# FISH

In [27]:
r_3 = requests.get('https://chaldal.com/fresh-fish-2')
soup = BeautifulSoup(r_3.content, 'lxml')

In [28]:
productlist = soup.find_all('div', class_='product')

productname = []
quantity = []
price = []

In [29]:
# PRODUCT NAME

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'name'):
            productname.append(j.text)

In [30]:
# AMOUNT

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'subText'):
            quantity.append(j.text)

In [31]:
# PRICE

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_= 'price'):
            price.append(j.text)

In [32]:
productlist = {'Product Name': productname,'Quantity': quantity, 'Price': price}

In [35]:
df = pd.DataFrame(productlist)
df.head(30)

                                         Product Name Quantity    Price
0                            Shrimp Bagda (12-18 pcs)   500 gm    ৳ 419
1                         Shrimp Horina (30 - 40 pcs)   500 gm    ৳ 299
2   Telapia Fish 3/4 pcs (Net Weight After Cutting...   500 gm    ৳ 119
3   Koi Fish 10/12 pcs (After Cutting Net Weight ±...     1 kg    ৳ 239
4                                          Baila Fish   500 gm    ৳ 375
5                            Shrimp Golda (10-15 pcs)   500 gm    ৳ 379
6                    Deshi Pangas (Net Weight ±50 gm)   1.5 kg    ৳ 219
7      Rui Fish Steak Family Cut (Net Weight ± 50 Gm)     1 kg    ৳ 449
8     Rui Fish Steak Chinese Cut (Net Weight ± 50 Gm)   1.5 kg    ৳ 699
9                                     Deshi Mola Fish   250 gm     ৳ 99
10                                       Tatkini Fish   500 gm    ৳ 159
11                                         Pabda Fish   400 gm    ৳ 499
12                         Shing Fish (After Cutting)   500 gm    ৳ 309
13                              Basa Dory Fish Fillet     1 kg    ৳ 580
14                                  Tengra Fish Deshi   400 gm    ৳ 305
15                         Prawn Headless (25/30 pcs)   500 gm    ৳ 600
16           Whole Frozen Hilsha (Net Weight ± 50 gm)     1 kg  ৳ 1,200
17                                           Poa Fish   500 gm    ৳ 330
18                                         Kaski Fish   500 gm    ৳ 259
19                                   Baim Fish Medium   500 gm    ৳ 399
20           Whole Frozen Hilsha (Net Weight ± 50 Gm)   900 gm  ৳ 1,100
21                                     Tilapia Fillet   500 gm    ৳ 730

In [36]:
df.to_csv(r'C:\Users\Admin\Documents\GITHUB ALL ML PUSH PULL\Scraping\chaldal-fish.csv', index=False)