In [129]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [130]:
baseurl= 'https://chaldal.com/'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:82.0) Gecko/20100101 Firefox/82.0'
}

In [131]:
r = requests.get('https://chaldal.com/fresh-vegetable')
soup = BeautifulSoup(r.content, 'lxml')

In [132]:
productlist = soup.find_all('div', class_='product')

productname = []
quantity = []
price = []

In [133]:
# PRODUCT NAME

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for name in i.find_all('div', class_= 'name'):
            productname.append(name.text)

In [134]:
# AMOUNT

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for name in i.find_all('div', class_= 'subText'):
            quantity.append(name.text)

In [135]:
# PRICE

for item in productlist:
    for i in item.find_all('div', class_='imageWrapper'):
        for name in i.find_all('div', class_= 'price'):
            price.append(name.text)

In [136]:
productlist = {'Productname': productname,'Quantity': quantity, 'Price': price}

In [137]:
df = pd.DataFrame(productlist)
df.head()

                            Productname Quantity Price
0                  Onion Red (Imported)     1 kg  ৳ 89
1   Potato Regular (Net Weight ± 50 gm)     1 kg  ৳ 49
2               Onion Yellow (Imported)     1 kg  ৳ 69
3                         Onion (Local)     1 kg  ৳ 89
4  Garlic Imported (Net Weight ± 10 gm)   500 gm  ৳ 55

In [138]:
df.to_csv(r'D:\DataScience_ML-Projects\Scraped Data\Chaldal\chaldal-vegetable.csv', index=False)